<div class="row">
    <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/profile_pic.jpeg" id="profile_pic" class="img-fluid">

        <!-- <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2> -->
        <h2 id="nombre">Victor Emanuel Saide</h2>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Acerca de mí</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate ratione sit illo, amet esse blanditiis facilis alias consequatur dolor voluptatum mollitia aspernatur autem laborum. Voluptas ducimus fuga corporis similique?</p>
        </span>
    </div>
</div>