<div class="row">
    <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/profile_pic.jpeg" id="profile_pic" class="img-fluid">

        <h2 id="nombre">Victor Saide</h2>
        <!-- <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2> -->
        
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Acerca de mí</h3>
            <p>Soy una persona apasionada por el aprendizaje y por el trabajo eficiente. A pocas materias de finalizar la licenciatura en Relaciones Laborales, y habiendo trabajado en diferentes profesiones a lo largo de mi vida, me encuentro en la búsqueda de expandir mi experiencia laboral hacia el mundo IT.</p>
            <p>Entre mis competencias mas destacadas se encuentran: resolución de conflictos entre personas y proyectos, grandes habilidades de comunicación, atención al detalle y orientación a los resultadas.</p>
        </span>
    </div>
</div>