.row{
    padding: 10px;
}

div{
    background-color: #427898;
    text-align: center;
    align-items:center;
    color: #ffff;
}

/*estilos del id profile_pic*/

@media (min-width: 576px){
    #profile_pic{
        border-radius: 100%;
        box-shadow: 3px 3px 3px #427898;
        left: 1%;
        top:200px;
    }
}

@media (max-width: 575px){
    #profile_pic{
        border-radius: 100%;
        box-shadow: 3px 3px 3px #427898;
        left: 33%;
        top:200px;
    }
}

#name{
    font-weight: bold;
    margin-top: 10%;
    text-transform: uppercase;
}