<div class="experience">
    <h3>Formación Profesional</h3>

    <div class="row">

        <!-- study 1 -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <span><h4 class="job">Full Stack Developer</h4></span>
                <p class="position">Argentina Programa | Ministerio de Producción | CESSI</p>
                <p class="card-text">2022</p>
                <p class="card-text">Horas cátedra: 480</p>
                <button type="button" class="btn btn-light">Certificación</button>
            </div>
        </div>

        <!-- study 2 -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <span><h4 class="job">Coach Ontológico Profesional</h4></span>
                <p class="position">Axon Training</p>
                <p class="card-text">2022 - 2023</p>
                <p class="card-text">Horas cátedra: 182</p>
                <button type="button" class="btn btn-light">Certificación</button> 
            </div>
        </div>

        <!-- study 3 -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <span><h4 class="job">Licenciado en Relaciones Laborales</h4></span>
                <p class="position">Universidad de Lomas de Zamora</p>
                <p class="card-text">2021 - 2023</p>
                <button type="button" class="btn btn-light">Certificación</button>
            </div>
        </div>

    </div>