<div class="row">
    <h3>Educación</h3>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <br>
        <ul>
            <li>
                <h5>Licenciatura en Relaciones Laborales - UNLZ</h5><h5>Marzo 2013 - Diciembre 2022</h5>
            </li>
        </ul>
        <br>
        <ul>
            <li>
                <h5>Full Stack Developer - Argentina Programa - INTI - CEESI</h5><h5>Diciembre 2021 - Agosto 2022</h5>
            </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quis sint eius aperiam molestiae odio ipsam itaque. Deserunt molestias exercitationem nulla? Excepturi placeat distinctio veritatis maiores, non delectus nulla vel.</p>
        </ul>
    </div>
</div>