.row{
    padding: 20px;
}

div{
    background-color: #427898;
    text-align: center;
    color: #ffff;
}

/*estilos del id profile_pic*/

/*#profile_pic{
    border-radius: 100%;
    bottom: 10px;
}*/

@media (min-width: 576px){
    #profile_pic{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #427898;
        left: 1%;
        bottom: 20px;
    }
}

@media (max-width: 575px){
    #profile_pic{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #427898;
        left: 33%;
        bottom: 0.5px;
    }
}

#name{
    font-weight: bold;
    margin-top: 30%;
    text-transform: uppercase;
}