<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile_pic.jpeg" id="profile_pic" class="img-fluid">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="name">Victor Saide</h1>
        <p>Full Stack Developer Jr & Labor Relations Student</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate ratione sit illo, amet esse blanditiis facilis alias consequatur dolor voluptatum mollitia aspernatur autem laborum. Voluptas ducimus fuga corporis similique?</p>
        </span>
    </div>
</div>