.row{
    padding: 20px;
    background-color: #427698;
    justify-content: center;
}

h2{
    color: #fff;
    text-align: center;
}

.card:hover{
    background-color:aliceblue;
    opacity: 0.9;
    border:0.5px #fff;
    
}

