<!-- Ver opciones en: https://www.npmjs.com/package/ng-circle-progress -->

<div class="row">
    <h1>Hard & Soft Skills</h1>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [title]="'CSS'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'JAVA'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'SCRUM'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'Comunicación'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'Trabajo en equipo'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

</div>