<!-- Ver opciones en: https://www.npmjs.com/package/ng-circle-progress -->

<div class="row">
    <h3>Hard & Soft Skills</h3>

    <div class="text-center col-sm-6 col-md-6 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="70"
            [title]="'HTML'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>

    <div class="text-center col-sm-6 col-md-6 col-lg-2">
        <circle-progress
            [percent]="75"
            [radius]="70"
            [title]="'CSS'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>

    <div class="text-center col-sm-6 col-md-6 col-lg-2">
        <circle-progress
            [percent]="50"
            [radius]="70"
            [title]="'JAVA'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>

    <div class="text-center col-sm-6 col-md-6 col-lg-2">
        <circle-progress
            [percent]="65"
            [radius]="70"
            [title]="'SCRUM'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>

    <div class="text-center col-sm-6 col-md-6 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="70"
            [title]="'Comunicación'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>

    <div class="text-center col-sm-6 col-md-6 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="70"
            [title]="'Trabajo en equipo'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#427898'"
            [innerStrokeColor]="'#428898'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>

</div>