<!-- Ver opciones en: https://www.npmjs.com/package/ng-circle-progress -->

<div class="row">
    
    <h3>Hard and Soft Skills</h3>
    
    <div class="col lg-9">

        <div class="section1">
            <ul>
                <li>HTML<br />
                    <progress min="0" max="100" value="80"></progress>
                </li>
                <li>CSS<br />
                    <progress min="0" max="100" value="60"></progress>
                </li>
                <li>Java<br />
                    <progress min="0" max="100" value="30"></progress>
                </li>
                <li>Angular<br />
                    <progress min="0" max="100" value="50"></progress>
                </li>
            </ul>
        </div>

        <div class="section2">
            <ul>
                <li>Trabajo en equipo<br />
                    <progress min="0" max="100" value="80"></progress>
                </li>
                <li>Comunicación efectiva<br />
                    <progress min="0" max="100" value="90"></progress>
                </li>
                <li>Empatía<br />
                    <progress min="0" max="100" value="90"></progress>
                </li>
                <li>Proactividad<br />
                    <progress min="0" max="100" value="80"></progress>
                </li>
            </ul>
        </div>


    </div>
</div>