.experience{
    text-align: center;
    padding: 20px;
}

.row{
    padding: 20px;
    text-align: center;
    justify-content: space-around;
}

.card{
    text-align: center;
    margin: 1vh;
}

.card:hover{
    background-color:aliceblue;
}

.job {
    border-bottom: 1px solid grey;
    height: 10vh;
}