<div class="row">
    <h3>Experiencia Laboral</h3>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <br/>
        <ul>
            <li>
                <h5>Analista de RRHH - Binbaires SA</h5>
                <h5>Diciembre 2021 - actualidad</h5>
            </li>
                <p>Control de ausentismo. Liquidación de sueldos. Impresión de libro ley. ABM en AFIP. Atención al cliente interno. Confección y comunicación de sanciones disciplinarias. Selección de personal. Evaluación de desempeño. Trato con delegados de empresa y zonales. Confección de descriptivos de puesto.</p>
        </ul>
        <br/>
        <ul>
            <li>
                <h5>Asistente de RRHH - Garbarino SA</h5>
                <h5>Marzo 2021 - Noviembre 2021</h5>
            </li>
                <p>Control de ausentismo. Liquidación de sueldos. Atención al cliente interno.</p>
        </ul>
        <br/>
        <ul>
            <li>
                <h5>Jefe de Seguridad - Garbarino SA</h5>
                <h5>Marzo 2014 - Octubre 2021</h5>
            </li>
                <p>Responsable de Bunker de CCTV. Investigaciones de robos y hurtos de todas las sucursales del país. Controles de seguridad física.</p>
        </ul>
        <br/>
        <ul>
            <li>
                <h5>Administrativo - Garbarino SA</h5>
                <h5>Julio 2007 - Febrero 2014</h5>
            </li>
                <p>Control de documentación de terceros. Liquidación de sueldos. Pagos de CCSS y sindicato.</p>
        </ul>
    </div>
</div>
