<div class="row">
    <h1>Experiencia</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Puesto 1 - Empresa 1</h3>
                <h3> - Desde - Hasta</h3>
            </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quis sint eius aperiam molestiae odio ipsam itaque. Deserunt molestias exercitationem nulla? Excepturi placeat distinctio veritatis maiores, non delectus nulla vel.</p>
        </ul>
        <ul>
            <li>
                <h3>Puesto 1 - Empresa 1</h3>
                <h3> - Desde - Hasta</h3>
            </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quis sint eius aperiam molestiae odio ipsam itaque. Deserunt molestias exercitationem nulla? Excepturi placeat distinctio veritatis maiores, non delectus nulla vel.</p>
        </ul>
        <ul>
            <li>
                <h3>Puesto 1 - Empresa 1</h3>
                <h3> - Desde - Hasta</h3>
            </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quis sint eius aperiam molestiae odio ipsam itaque. Deserunt molestias exercitationem nulla? Excepturi placeat distinctio veritatis maiores, non delectus nulla vel.</p>
        </ul>
        <ul>
            <li>
                <h3>Puesto 4 - Empresa 4</h3>
                <h3> - Desde - Hasta</h3>
            </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quis sint eius aperiam molestiae odio ipsam itaque. Deserunt molestias exercitationem nulla? Excepturi placeat distinctio veritatis maiores, non delectus nulla vel.</p>
        </ul>


    </div>
</div>
