<div class="experience">
    <h3>Experiencia Laboral</h3>

    <div class="row">

        <!-- job 1 -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <span><h4 class="job">Developer Freelance</h4></span>
                <p class="position">Full Stack Developer Jr</p>
                <p class="card-text">2022 - actualidad</p>
            </div>
        </div>

        <!-- job 2 -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <span><h4 class="job">Vriksha Servicios</h4></span>
                <p class="position">Servicios de coaching personal y asesoría laboral</p>
                <p class="card-text">2022 - actualidad</p>
            </div>
        </div>

        <!-- job 3 -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <span><h4 class="job">BinBaires SA</h4></span>
                <p class="position">Analista de RRHH</p>
                <p class="card-text">2021 - actualidad</p>
            </div>
        </div>
        
        <!-- job 4 -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <span><h4 class="job">Garbarino SA</h4></span>
                <p class="position">Asistente RRHH - Jefe Seguridad - Administrativo</p>
                <p class="card-text">2007 - 2021</p>
            </div>
        </div>

    </div>