<div class="row">
    <h2>Proyectos realizados</h2>

    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Página Web</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere unde quaerat aliquam voluptatem deserunt iusto dolorem veniam fuga aliquid fugiat laborum officiis non, porro a quasi at enim, omnis ipsum.</p>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/proy1.png" class="img-fluid img-proyecto">
    </div>

    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Juego</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere unde quaerat aliquam voluptatem deserunt iusto dolorem veniam fuga aliquid fugiat laborum officiis non, porro a quasi at enim, omnis ipsum.</p>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/proy2.png" class="img-fluid img-proyecto">
    </div>

</div>