/** contiene todos los logos del nav **/
.row{
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /**position: fixed; no linkea si esta en posición inicial, ver**/
    background-color: #427898;
    box-shadow: -2px 4px 10px 0px rgb(112 88 50 / 75%);
}

#argProgLogo{
    width: 150px;
}

img{
    width: 50px;
    margin: 0.5vh;
}

.btn btn-info{
    color: aliceblue;
    font-weight: bold;
}

.btn{
    border-width: medium;
}

.social-media{
    
}

/** Vista desde móviles **/

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }

    .social-media{
        display: flex;
        flex-direction: column;
        align-items: center;       
    }

    .social-media img{
        margin: 0.5vh;
    }
}