.row{
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #427898;
    box-shadow: -2px 4px 10px 0px rgb(112 88 50 / 75%);
}

ul{
    display: none;
}

#argProgLogo{
    width: 150px;
}

img{
    width: 40px;
    margin: 0.75vh;
}

img:hover{
    width: 42px;
    margin: 0.75vh;
}

.btn btn-info{
    color: white;
    font-weight: bold;
}

.btn{
    border-width: medium;
}

.btn-outline-light{
    text-transform: uppercase;
}

.btn-outline-light:hover{
    text-transform: uppercase;
    font-weight: bolder;
    color: #427898;
    background-color: #ffff;
}

i{
    display: none;
}


/** Vista desde móviles **/

@media (max-width: 575px){
    .container{
        flex-direction: row;
        align-content: overflow;
    }

    .social-media{
        /**display: none;**/
        flex-direction: column;
        align-items: center;       
    }

    .social-media img{
        margin: 0.5vh;
    }

    i{
        display: flex;
        font-size: 20px;
        color: #ffff;
    }
}

nav{
    height: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 80 px;
    margin-top: 15px;
    padding: 3px;
}

nav ul li a{
    position: relative;
    color: white;
    font-size: medium;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover{
    color:#427898;
    background-color: aliceblue;
    border-radius: 5px;
    font-weight: bold;    
}
